<div>
  <span id="fullName"></span>
  <form [formGroup]="profileForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="Enter first name"
        formControlName="firstName"
        (keyup)="onTextInputChange($event)"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Enter last name"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="qualification">Qualification</label>
      <button (click)="onClick()">Add qualification field</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name of degree</th>
            <th scope="col">College Name</th>
            <th scope="col">Percentage</th>
          </tr>
        </thead>
        <tbody formArrayName="qualificationData">
          <tr
            *ngFor="
              let qualification of qualificationArray.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Enter degree"
                formControlName="degree"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Enter college name"
                formControlName="college"
              />
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                placeholder="Enter percentage"
                formControlName="percentage"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
